<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Michał Malik">

 
  {% block title %}<title>Default Title!</title>{% endblock %}
  {% block description %}<meta name="description" content="Default description!">{% endblock %}

  <!-- Bootstrap core CSS -->
  <link href="{{asset ('/frontend/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->

    {% block customStylesheet %}<link href="custom" rel="stylesheet">{% endblock %}

  <link href="{{asset ('/frontend/css/main.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Lubliniecka Pamięć</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      {% block navitems %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url('index')}}">Start
              <span class="sr-only">(Current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('articles')}}">Artykuły</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('photos')}}">Zdjęcia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('videos')}}">Materiały Video</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url('sources')}}">Źródła</a>
            </li>
           <li class="nav-item">
            <a class="nav-link" href="{{ url('patrons')}}">Patroni</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url('about-us')}}">O nas</a>
            </li>
            
        </ul>
      {% endblock %}
      </div>
    </div>
  </nav>

   

  <!-- Page Content -->
  {% block containerType %}
   <div class="container">
  {% endblock %}

    {% block indexJumbotronHeader %}
    
    {% endblock %}

    {% block header %}

    {% endblock %}

    <!-- Page Features -->
    {% block rowType %}
      <div class="row text-center">
    {% endblock %}

      {% block elasticSearchingXs %}

      {% endblock %}


      {% block pageFeatures %}
      
      {% endblock %}

       {% block elasticSearchingXsLower %}

      {% endblock %}
      
      {% block comments %}

      {% endblock %}

 
      {% block elasticSearchingLg %}

      {% endblock %}

      </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

 <!-- Footer -->
 <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
       
          <div class="col-6">
           <div class="text-center text-white">
              <p class="">Copyright &copy; Lubliniec.org 2019</p>
            
              <a href="https://www.makeitweb.eu">Wykonanie: Michał Malik</a>
           </div>
           <div class="w-100">
           </div>
          </div>
           <div class="col-6 text-center">
              <div>
               <a href="{{ url('login')}}">Logowanie dla Administratorów</a>
              </div>
              <div class="mt-4">
               <a href="{{ url('terms')}}">Regulamin i informacje o kopiowaniu</a>
              </div>
            </div>
        </div>
     </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  
  <script src="{{asset ('frontend/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset ('frontend/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
