 
{% extends 'pages/admin-page/categories-choosing/resources.html.twig' %}
 {% block photosLabel %}
    <li class="li-active resources-list">
        <a href="{{url ("photos-table")}}">Zdjęcia</a>
    </li>
 {% endblock %}
 {% block resourcesName%}
        <h2 class="text-center">Zdjęcia</h2>
      {% endblock %}
 {% block breadcrumbs %}
 <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{url("admin")}}">Start</a>
          </li>
          <li class="breadcrumb-item" id="jquery-bread">Zasoby</li>
          <li class="breadcrumb-item active" id="jquery-bread">Zdjęcia</li>
        </ol>
{% endblock %}
  {% block resourceAdd0 %}
              <li class="add add-1">
                   <a href="{{url ("photo-adding")}}">Dodaj
                    <i class="fas fa-plus-square p-1"></i>
                  </a>
              </li>
              {% endblock %}
   {% block resourceAdd1 %}
              <li class="add add-1">
                   <a href="{{url ("photo-adding")}}">Dodaj
                    <i class="fas fa-plus-square p-1"></i>
                  </a>
              </li>
     {% endblock %}
     {% block resourceEdit0 %}
              <li class="add edit-1" >
                <a href="{{url ("photo-editing")}}"> Edytuj
                  <i class="fas fa-edit p-1"></i>
                </a>
              </li>
      {% endblock %}

      {% block resourceEdit1 %}
         <li class="add edit-1" >
          <a href="{{url ("photo-editing")}}"> Edytuj
               <i class="fas fa-edit p-1"></i>
            </a>
        </li>
      {% endblock %}

{% block resourcesTable %}

 <div class="col-12 pb-3 resources-table">
                <table class="table table-hover">
                        <thead >
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Data</th>
                            <th scope="col">Tekst</th>
                            <th scope="col">Zdjęcie</th>
                            <th scope="col">Zaznacz</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td class="list-element">Otto</td>
                            <td class="list-element">Mark</td>
                            <td class="list-element">01.01.1973</td>
                            <td class="list-element-big">Loerm ipsum ...</td>
                            <td class="list-element-builded-input"><input type="file"></input></td>
                            <td> 
                                <label class="container-checkbox">
                                <input type="checkbox" class="category-element">
                                <span class="checkmark"></span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td class="list-element">Otto</td>
                            <td class="list-element">Mark</td>
                            <td class="list-element">01.01.1973</td>
                            <td class="list-element-big">Loerm ipsum ...</td>
                            <td class="list-element-builded-input"><input type="file"></input></td>
                            <td> 
                                <label class="container-checkbox">
                                <input type="checkbox" class="category-element">
                                <span class="checkmark"></span>
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td class="list-element">Otto</td>
                            <td class="list-element">Mark</td>
                            <td class="list-element">01.01.1973</td>
                            <td class="list-element-big">Loerm ipsum ...</td>
                            <td class="list-element-builded-input"><input type="file"></input></td>
                            <td> 
                                <label class="container-checkbox">
                                <input type="checkbox" class="category-element">
                                <span class="checkmark"></span>
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>

            {% endblock %}