{% extends 'base.html.twig' %}

{% block customStylesheet %}
  <link href="{{asset ('frontend/css/login.css')}}" rel="stylesheet">
{% endblock %}

{% block description %}

{% endblock %}



{% block navitems %}
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item active">
            <a class="nav-link" href="{{ url('login')}}">Logowanie</a>
              <span class="sr-only">(Current)</span>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{{ url('index')}}">Powrót</a>
            </li>
           
        </ul>
  {% endblock %}

 {% block containerType %}
    {{ include ("includes/shared-includes/custom-container-fluid.html.twig") }}
  {% endblock %}



    {% block pageFeatures %}
        {{ include ("includes/main-pages-includes/login-main-section.html.twig") }}
    {% endblock %}

  