
{% extends "pages/admin-page/admin-main-page.html.twig"%}
  {% block editorLiberies %}
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="{{asset ("frontend/js/editor.js") }}"></script>
		<script>
			$(document).ready(function() {
				$("#txtEditor").Editor();
			});
		</script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="{{asset ("frontend/css/editor.css") }}" type="text/css" rel="stylesheet"/>
 {% endblock %}
	{% block basicCssLibs %}
  <link href="{{asset ('frontend/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  {% endblock %}

    



{% block breadcrumbs %}
 <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{url("admin")}}">Start</a>
          </li>
          <li class="breadcrumb-item" id="jquery-bread">
            Zasoby
          </li>
          <li class="breadcrumb-item" id="jquery-bread">
            <a href="{{url("articles-table")}}">Artykuły</a>
          </li>
          <li class="breadcrumb-item active" id="jquery-bread">Dodawanie/Edycja</li>
        </ol>
{% endblock %}

{% block pageContents %}

     <div class="col-12">
                <h2 class="text-center mb-4">Dodaj/Edytuj Artykuł</h2>
              </div>
   
                       <div class="col-6">
                          <div class="col-6 offset-5">
                             <form action="php-apps\send.php" method="POST" class="ajax">
                                <div class="form-group">
                              <input type="text" name="name" class="form-control mb-2"  placeholder="Imię i Nazwisko Autora">
                              <input type="text" name="name" class="form-control mb-2"  placeholder="Imię i Nazwisko Publikującego">
                              <input type="text" name="name" class="form-control mb-2"  placeholder="Tytuł">
                              <input type="text" name="name" class="form-control mb-2"  placeholder="Kategoria">
                              <input type="text" name="name" class="form-control mb-2"  placeholder="Temat">
                              Dokładna lub orientacyjna data :<input type="date" name="name" class="form-control mb-2"  >
                             
                                </div>
                             </form>
                          </div>
                        </div>
                        

                          <div class="col-6">
                            <form action="php-apps\send.php" method="POST" class="ajax">
                              <div class="form-group pl-5 text-left">

                                <div class="col-10 offset-1 p-4">Zdjęcie 1: <input type="file" name="name" value="Dodaj Zdjęcie"></div> 

                                <div class="col-10 offset-1 p-4">Zdjęcie 2: <input type="file" name="name" value="Dodaj Zdjęcie"></div>

                                <div class="col-10 offset-1 p-4"> Zdjęcie 3: <input type="file" name="name" value="Dodaj Zdjęcie"></div>

                                <div class="col-8 offset-1 text-left">
                                  <label class="container-checkbox text-left">Publikuj po dodaniu
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                                  <button class="btn btn-primary ml-4" href="#">Wyślij </button>
                                </div>
                              </label>
                            </div>
                              
                             </div>
                             
                          </form>  
                      </div>
                      
                      <div class="col-12">
                        <h2 class="text-center my-3">Treść Sekcji nr 1: </h2>
                        <div class="col-4 offset-4 text-center">
                          <select>
                            <option>Sekcja 1</option>
                            <option>Sekcja 2</option>
                            <option>Sekcja 3</option>
                          <select>
                        </div>

                          <form action="php-apps\send.php" method="POST" class="ajax">
                            <div class="form-group pl-5">

                          
                                <textarea id="txtEditor" ></textarea>
                              
                           </div>
                        </form>  
                    </div>

  {% endblock %}

    {% block basicJsLibs %}
    
  {% endblock %}
  {% block customJs %}
    <script src="{{asset ("frontend/js/text-section-selector.js")}}"></script>
  {% endblock %}
	