
{{ form_start(form) }}
    <div class="col-6">
        <div class="col-10 offset-1">
        
            {{form_row(form.title)}}
            {{form_row(form.subtitle)}}
            {{form_row(form.orientation_date)}}
            {{form_row(form.date)}}
            {{form_row(form.topic)}}
      
        </div>
    </div>
    <div class="col-6">
        <div class="col-10 offset-1">
      
                {{form_row(form.publicated)}}
                {{form_row(form.author_id)}}
                {{form_row(form.category_id)}}
                {{form_row(form.place_id)}}
                {{form_row(form.period_id)}}
       
        </div>
    </div>
    <div class="forms-wrapper" id="form-list" data-prototype="{{form_widget(form.article_section_id.vars.prototype)|e('html_attr')}}">
        {% for row in form.article_section_id %}

        <div class="single-form">
            {{form_row(row)}}  
        </div>

        {% endfor %}
    </div>
    <button class="btn btn-warning">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
