 <!-- Main section -->

      <div class=" col-12 col-lg-8 text-center">

        <!-- Gallery Dashbord -->
      <div class="row">

        <div  class="col-sm-4 pb-3 pb-sm-0">
          <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
          <div>
            <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
            <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded photo-link">
            <div class="overlay">               
                <i class="far fa-eye"></i>
              </div>
            </div>
           </a>
         </div>

         <div  class="col-sm-4 pb-3 pb-sm-0">
            <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
            <div>
              <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
              <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded photo-link">
                <div class="overlay">               
                  <i class="far fa-eye"></i>
                </div>
              </div>
             </a>
           </div>
           
           <div  class="col-sm-4 pb-3 pb-sm-0">
              <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
                <div>
                 <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                  <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded photo-link">
                  <div class="overlay">               
                    <i class="far fa-eye"></i>
                  </div>
                </div>
               </a>
             </div>
             
      </div>

      <div class="row">

          <div  class="col-sm-4 pb-3 pb-sm-0">
            <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
            <div>
                <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded photo-link">
                <div class="overlay">               
                  <i class="far fa-eye"></i>
                </div>
              </div>
             </a>
           </div>
  
           <div  class="col-sm-4 pb-3 pb-sm-0">
              <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
              <div>
                <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded photo-link">
                  <div class="overlay">               
                    <i class="far fa-eye"></i>
                  </div>
                </div>
               </a>
             </div>
             
             <div  class="col-sm-4 pb-3 pb-sm-0">
                <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
                <div>
                  <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                  <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded photo-link">
                    <div class="overlay">               
                      <i class="far fa-eye"></i>
                    </div>
                  </div>
                 </a>
               </div>
               
        </div>

        <div class="row mb-5">

            <div  class="col-sm-4 pb-3 pb-sm-0">
              <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
              <div>
                <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                <img src="https://unsplash.it/600.jpg?image=257" class="img-fluid rounded photo-link">
                  <div class="overlay">               
                    <i class="far fa-eye"></i>
                  </div>
                </div>
               </a>
             </div>
    
             <div  class="col-sm-4 pb-3 pb-sm-0">
                <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
                <div>
                  <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                  <img src="https://unsplash.it/600.jpg?image=258" class="img-fluid rounded photo-link">
                    <div class="overlay">               
                      <i class="far fa-eye"></i>
                    </div>
                  </div>
                 </a>
               </div>
               
               <div  class="col-sm-4 pb-3 pb-sm-0">
                  <a href="{{url ('photo') }}" data-toggle="lightbox" data-gallery="gallery">
                  <div>
                    <figcaption class="figure-caption pt-4 pb-2">Tytuł Zdjęcia</figcaption>
                    <img src="https://unsplash.it/600.jpg?image=259" class="img-fluid rounded photo-link">
                      <div class="overlay">               
                        <i class="far fa-eye"></i>
                      </div>
                    </div>
                   </a>
                 </div>
                 
          </div>



        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Starsze</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Nowsze &rarr;</a>
          </li>
        </ul>

      </div>
      
    <!-- end of Main Section -->