<!-- Videos Section -->
      <div class="col-lg-8  col-12 text-center">

        <!-- Videos Dashboard -->

         <!-- Heading Row -->
         <div class="row align-items-center my-5   video-wrapper">
                <hr>
                    <div class="col-lg-6 px-0 ">
                        <a href="{{url ('video') }}">
                            <div>
                            <img class="img-fluid rounded mb-4 mb-lg-0 video-link" src="http://placehold.it/1920x1080" alt="">
                            
                              <div class="overlay">
                                      
                                          <i class="fas fa-play"></i>
                                    
                               </div>
                            </div>
                      </a>
                    </div>
                </a>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-6">
                        <a href="{{url ('video') }}">
                            <div>
                                <h1 class="font-weight-light">Tytuł Filmu</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </a>
                    </div>
                    <!-- /.col-md-4 -->
                 <hr>
            </div>

         <!-- Video Row -->
         <div class="row align-items-center my-5   video-wrapper">
            <hr>
                <div class="col-lg-6 px-0 ">
                    <a href="{{url ('video') }}">
                        <div>
                        <img class="img-fluid rounded mb-4 mb-lg-0 video-link" src="http://placehold.it/1920x1080" alt="">
                        
                          <div class="overlay">
                                  
                                      <i class="fas fa-play"></i>
                                
                           </div>
                        </div>
                  </a>
                </div>
            </a>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <a href="{{url ('video') }}">
                        <div>
                            <h1 class="font-weight-light">Tytuł Filmu</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
                
             <hr>
        </div>

             <!-- Heading Row -->
        <div class="row align-items-center my-5   video-wrapper">
                <hr>
                    <div class="col-lg-6 px-0 ">
                        <a href="{{url ('video') }}">
                            <div>
                            <img class="img-fluid rounded mb-4 mb-lg-0 video-link" src="http://placehold.it/1920x1080" alt="">
                            
                            <div class="overlay">
                                    
                                        <i class="fas fa-play"></i>
                                    
                            </div>
                            </div>
                      </a>
                    </div>
                </a>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-6">
                        <a href="{{url ('video') }}">
                            <div> 
                                <h1 class="font-weight-light">Tytuł Filmu</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </a>
                    </div>
                    <!-- /.col-md-4 -->
                 <hr>
            </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Starsze</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Nowsze &rarr;</a>
          </li>
        </ul>

      </div>
    <!-- End of Videos Section -->